.main {
    margin-top:20px;
}
.m-bottom{
    margin-bottom: 2%;
}
/* Modal Products Image */
ul.modal-list { list-style: none; display: inline;}
li .modal-image{ width: 250px; height: 250px; padding: 10px;}
